@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <ul>
        <li>Pocket is your personal bill manager.</li>
        <li>Would not it be easier, if you could pay all your bills on one website?</li>
        <li>What about missing due dates? With pocket, you will never miss a due date.</li>
    </ul>
</p>
