@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    100 Veteran Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    123.456.POCKET
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Write us a email</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Earn points by sharing us on social media</a>
</address>

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>